<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Failed</title>
</head>
<body>
    <br>
    <br>
    <h1>Oops!</h1>
    <p>The email address or password you entered is incorrect.</p>
    <button onclick="redirectToLogin()">Back to Login</button>
    <script>
        function redirectToLogin() {
            window.location.href = '/login';
        }
    </script>
</body>
</html>
