<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Button Page</title>
</head>
<body>
    <div class="container">
        <br>
        <br>
        <img src="images/cat.png" style="width: 400px;"><br><br>
        <h1>Spot Bad Arguments</h1>
        <div class="button-container">
            <button onclick="redirectToLogin()">Continue</button>
        </div>
    </div>

    <script>
        function redirectToLogin() {
            window.location.href = '/login';
        }
    </script>
</body>
</html>
