<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Successful</title>
    <style>
        /* Remove anchor tag */
        a {
            text-decoration: none;
        }
    </style>

</head>
<body>
    <br>
    <br>
    <h1>Welcome back!</h1>
    <p>You have successfully logged in.</p>

    <div class="footer-buttons">
        <br>
        <br>
        <br>
        <a href="/progress">
            <button>Home</button>
        </a>
        <a href="/profile">
            <button>Profile</button>
        </a>
        <a href="/settings">
            <button>Settings</button>
        </a>
        <button>What's New?</button>
    </div>
</body>
</html>
