<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload Photo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <h1>Upload New Photo</h1>
    </div>
    <div class="profile-avatar-gray">
        <img src="images/avatar.png" style="width: 200px;" alt="User Avatar">
    </div>
    <br>
    <br>
    <br>
        <button class="stat-button">Google Photos</button>
        <br>
        <button class="stat-button">Device Photos</button>
        <br>
        <button class="stat-button">Built-in Camera</button>
</body>
</html>
